:root {
  --light-green: #3AAF3E;
  --primary-green: #1F6E1F;
  --transparent-green: rgba(58, 175, 62, 0.2);
  --red-accent: #C63846;
  --text-dark: #000000;
  --background: #FFFFFF;
  --different-background:#F5F5F5;
    --ivory:#fffaf0;
  --gray:#6b7280 ;
}


/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: "Martel", serif;
  font-weight: 400;
  font-style: normal;
  background: var(--ivory);
  color:var(--text-dark);
  
}

a{
  text-decoration: none;
  color: inherit;
}

section > .container-fluid, footer > .container-fluid{
  padding:5% 7%;
}

h1 {
  font-family: "Cormorant SC", serif;
  font-weight: 700;
  font-size: clamp(3rem, 7vw, 5.5rem);
  line-height: 1;
}
h2{
  font-size:40px;
  font-weight:900;
  text-transform: capitalize;
}
h3{
  font-weight: 700;
}

h4, h5, h6{
  font-weight:300;
}
/*  */
h2, h3, h4, h5, h6{
   font-family: "Vesper Libre", serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;

}
/* nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav */
nav{
  text-transform: capitalize;
}

.navbar-brand {
    width: 8%;
}

@media (max-width:750px) {
    .navbar-brand {
        width: 20%;
    }
}
nav .container-fluid{
  padding:0 7% ;
}




/* button buttn */
.btn{
  text-transform: capitalize;
   white-space: nowrap;
   margin-right: 10px;
   margin-bottom: 10px;
} 
.btnPrimary, .btnPrimary:hover, .btnSecondary:hover{
  background: var(--primary-green);
  color: var(--ivory);
}
.btnSecondary{
   background-color: none;
   border: solid 1px var(--primary-green);
  color: var(--light-green);
}

.btn-xl {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

/* special-classes special-classes special-classes */
.homeBadgeParent{
  background-color: var(--transparent-green);
  color: var(--light-green);
  text-transform: uppercase;
  padding: 3px 12px;
  border-radius: 20px;
  margin-top: 8px;
  font-weight:bold;
 
  
}
.homeBadge{
   display: inline-block;
  width: 12px;
  height: 12px;
  background: var(--light-green);
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
  
}

.icon-style {
  font-size: 32px;
  background: var(--transparent-green); /* gradient from dark to light blue */
  color: var(--light-green);
  padding: 14px;
  border-radius: 10px;
  display: inline-flex; /* ensures icon stays centered if needed */
  align-items: center;
  justify-content: center;
}

p.subtopic {
    font-size: 20px; /* bigger than body text */
    font-weight: 500; /* slightly bolder, optional */
    margin-top: 10px;
    margin-bottom: 15px;
}


/* hero-section hero-section hero-section */
#hero{
  background-image: url('./assets/roadtar.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  
  
}
#hero .container-fluid{
  color: var(--ivory);
  min-height: 80vh;
  background: linear-gradient(
  to right,
  var(--text-dark),
  transparent 200% 
  
);}

#hero h3{
  color: var(--light-green);
}

/* --services--service--services--servicesooservices */
.serviceCard{
  background: var(--background);
  padding: 15px 30px ;
  border-radius: 10px;
 border-bottom: 2px solid var(--primary-green);
 
}
.serviceCard:hover{
   box-shadow: 0 4px 6px var(--light-green);
   cursor: pointer;
    padding: 18px 32px ;
    transition: all 0.3s ease;
}

#about ul li::marker{
  color: var(--primary-green);
  font-size: 20px;

}

/* leadership-section--leadership-section--leadership-section */
#leaderhsip{
  background-color: var(--background);
  
}
.leadershipCard{
  background: var(--different-background);
  border-radius: 10px;
 border-bottom: 2px solid var(--primary-green);
}